﻿@model SSO.Application.ViewsModels.LoginVm
@{
    ViewBag.Title = "Login";
}
<h1>Acessar Sistema</h1>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.Identifier)
    <div class="form-group">
        @Html.LabelFor(model => model.UserName)
        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", placeholder = "Matrícula ou CPF" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Password)
        @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Sua senha" })
    </div>
    <div class="form-group">
        <button class="btn btn-primary">ACESSAR</button>
    </div>
}