﻿@model IEnumerable<System.Security.Claims.Claim>
@{
    ViewBag.Title = "About";
}
<h3>Claims</h3>
<dl>
    @foreach (var claim in Model)
    {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>
    }
</dl>