﻿@{
    ViewBag.Title = "Index";
}

@if (User.Identity.IsAuthenticated)
{
    <p>
        <dl>
            @foreach (var claim in System.Security.Claims.ClaimsPrincipal.Current.Claims)
            {
                <dt>@claim.Type</dt>
                <dd>@claim.Value</dd>
            }
        </dl>
    </p>
}
else
{
    <p>anonymous.</p>
}